{% extends 'base.html.twig' %}

{% block title %}ChatRoom{% endblock %}

{% block body %}
<style>
 .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 5px;
        font-family: Arial, sans-serif;
    }

    h1 {
        color: #2c3e50;
        text-align: center;
    }

    h2 {
        color: #34495e;
        margin-bottom: 5px;
    }

</style>


<div class="container">
    <h1>Welcome to ChatRoom</h1>

    <h2>Chat</h2>

    {% for room in rooms %}
        <ul>
            <li><a href="/room/{{ room.id }}">{{ room.name }}</a></li>
        </ul>
    {% endfor %}
</div>
{% endblock %}